{% extends 'base.html' %}

{% load static %}

{% block content %}
<div class="main-content-wrapper">
    <main class="main-content">
        <div class="container-fluid">
            <h1>Zenodo Upload Viewer</h1>
            <a href="#" id="url">Click here to view uploded output on Zenodo</a>
        </div>
    </main>
</div>
{% endblock content %}

{% block scripts %}
<!-- Load the AiravataAPI JavaScript SDK (optional) -->
<script src="{% static 'django_airavata_api/dist/airavata-api.js' %}"></script>
<script>
    const { models, services, session, utils } = AiravataAPI;

    const currentURI = window.location.href

    const params = new Proxy(new URLSearchParams(window.location.search), {
            get: (searchParams, prop) => searchParams.get(prop),
        });

    console.log(`redirect uri: ${params.state}`)
    console.log(`original uri: ${currentURI}`)

    // window.location.replace(`${params.state}&oauth_redirect=${encodeURIComponent(currentURI)}&oauth_state=${encodeURIComponent(params.state)}`);

    fetch(`${params.state}&oauth_redirect=${encodeURIComponent(currentURI)}&oauth_state=${encodeURIComponent(params.state)}`).then(response => {
        console.log(response)
        return response.json()
    }).then(data => {
        console.log(data)
        document.getElementById("url").href = data.url
    })

    // Your code here ...
    // Example code: AiravataAPI JavaScript SDK
    // Use the JavaScript SDK to make REST API calls. For example, load the most
    // recent 5 experiments created by the current user:
    //
    // services.ExperimentSearchService
    //         .list({limit: 5,
    //             [models.ExperimentSearchFields.USER_NAME.name]: session.Session.username,
    //         })
    //         .then(data => {
    //             const experiments = data.results;
    //             // Do something with the experiments ...
    //         });
    //
    // See the Custom UI tutorial for more examples:
    // https://apache-airavata-django-portal.readthedocs.io/en/latest/tutorial/custom_ui_tutorial/#tutorial-exercise-create-a-custom-django-app
    // To see what is in the `AiravataAPI` JavaScript library, take a look at
    // it's index.js file:
    // https://github.com/apache/airavata-django-portal/blob/master/django_airavata/apps/api/static/django_airavata_api/js/index.js
</script>
{% endblock scripts %}
